@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";

@theme {
  --color-primary: #F84565;
  --color-primary-dull: #D63854;

  --color-dark: #09090B;
  --color-card: #111113;
  --color-card-light: #1A1A1F;
}

* {
  font-family: 'Outfit', sans-serif;
  scrollbar-width: thin;
  scrollbar-color: #787777 #1e1e1e;
  box-sizing: border-box;
}

html,
body,
#root {
  min-height: 100vh;
}

body {
  background: #09090B;
  color: white;
}

.no-scrollbar {
  scrollbar-width: none;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}